meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Fundamentos de calidad y ficha técnica
meta(meta name="description" content="Identificar los términos técnicos utilizados en calidad, reconocer los antecedentes y la evolución de la calidad y proyectar la implementación de la calidad de acuerdo con los avances tecnológicos en el marco de la industria 4.0. Interpretar la ficha técnica del producto. Identificar y determinar los puntos de control en cada proceso y en la prenda a inspeccionar. Definir la documentación necesaria que apoye el proceso de calidad en las inspecciones requeridas para ejecutar el control de calidad.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")