h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('text', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'El proceso de control en calidad', 'main.html#page/El_proceso_de_control_en_calidad/')
                    +navTemaItem('2', 'Ficha técnica y muestra física', 'main.html#page/Ficha_tecnica_y_muestra_fisica/')
                    +navTemaItem('3', 'Puntos de control de calidad en el proceso de confección', 'main.html#page/Puntos_de_control_de_calidad_en_el_proceso_de_confeccion/')
                    +navTemaItem('4', 'Documentación de calidad', 'main.html#page/Documentacion_de_calidad/')