.container
    .header-ecored
        h1 1. El proceso de control en calidad
    .jumbotron.bg-white.shadow
        p “El control es la actividad que garantiza la conformidad con los equipos y emprende una acción correctiva cuando es necesario, a fin de solucionar los problemas y mantener un desempeño estable. Cualquier sistema de control tiene tres componentes: (1) una norma o meta; (2) un medio para medir los resultados, y (3) comparación de los resultados reales con la norma, además de retroalimentación con el fin de tener una base para la acción correctiva. Las metas y normas se definen durante los procesos de planeación y diseño; establecen lo que se supone que se debe lograr.  Estas metas y normas se reflejan en las características de la calidad que se pueden medir, como las dimensiones en las partes producidas, número de productos defectuosos, quejas del cliente o los tiempos de espera. Los indicadores proporcionan la información acerca de lo que se logró realmente. Trabajadores, supervisores o gerentes evalúan si los resultados reales cumplen con las metas y las normas; de lo contrario, es preciso emprender una acción correctiva” (Evans & Lindsay, 2005).
        .sub-ecored#11.mt-5
            h2 1.1.	Control de calidad
        p.mt-5 La evolución de la industrialización ha requerido ejercer control en los procesos para disminuir los desperdicios y los reprocesos en la producción, dado el mayor nivel de unidades producidas, es por ello que se recurre a la estandarización de procesos y de las características del producto fabricado.
        p Teniendo en cuenta lo anterior, revisar la producción proporciona mayor confianza en el cliente, mejora la competitividad y se convierte en una herramienta de control de la empresa.
        p Es importante mencionar los principios de la calidad para efectuar su control:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img2.svg", alt="").img-fluid
        h3.mt-5.ml-5 1.1.1.	Concepto de calidad.
        p.mt-3.ml-5 Dada la amplitud de definiciones existentes cada persona puede determinar su concepto propio, pero para comprender mejor a que se refiere la calidad se tendrán en cuenta las definiciones de los estudiosos del tema, entre los cuales se destacan: 
        .row.justify-content-center.align-items-center.mt-5
            .col-1
                img(src="assets/images/pages/ilustraciones/img3.svg", alt="").img-fluid
            .col-7
                p W. Edwards Deming (1988), reconocido como el padre de la calidad, menciona el significado de calidad, como producir un producto a bajo costo con características medibles que satisfagan al cliente.
                p.mt-4 Kaoru Ishikawa (1988), entiende la calidad como el valor percibido por el cliente respecto a sus características técnicas, costo y funcionalidad del producto recibido; resalta el control en todos los procesos y las funciones de personas involucradas para obtener el producto más útil, más económico, y satisfactorio al consumidor final.
                p.mt-4 Armand V. Feigenbaum (2000), comprendió que el inicio de la calidad parte desde el diseño del producto y finaliza cuando el consumidor lo utiliza.
                p.mt-5 M. Juran (1993), concibe la calidad como un conjunto de características que satisfacen al cliente sin tener errores.
                p.mt-5 Philip B. Crosby (1996), resaltó en el concepto el cumplimiento de requisitos y de normas. Ilustra el efecto de la no conformidad y enfoca la atención en temas de prevención. 
        p.mt-5.ml-5 Teniendo en cuenta los términos de los estudiosos se puede determinar qué satisfacción, cliente, necesidades, mercado, expectativas son las palabras comunes, que engloban el concepto para concluir que la calidad adecúa el producto a las características especificadas y cumple con los requisitos, que satisfacen las necesidades y expectativas del cliente. 
        h3.mt-5.ml-5 1.1.2. Concepto de control de calidad.
        p.mt-3.ml-5 Una vez se tienen definidos los objetivos y los requisitos de calidad del producto, se entiende que se deben controlar las variaciones de esas características, cualidades o especificaciones exigidas sea por el cliente o de acuerdo con una norma.
        p.ml-5 Se conoce como control de la calidad, al proceso conformado por una serie de técnicas estadísticas aplicadas a procesos industriales para analizar el comportamiento de las variaciones de los requisitos del producto, con el fin de establecer acciones que mejoren el producto final y su calidad, en pro de aumentar las ventas y la productividad de la empresa.
        .row.justify-content-center.align-items-center.mt-5
            .col-4
                img(src="assets/images/pages/ilustraciones/img4.svg", alt="").img-fluid
            .col-7
                p El control de calidad no sólo está encaminado a las inspecciones del producto terminado, sino a las inspecciones durante el proceso de producción. “En los procesos de manufactura, el control casi siempre se aplica a los materiales que llegan, a los procesos claves y los productos finales” (Evans & Lindsay, 2005).
                p El cliente es la persona que adquiere el producto o servicio, puede o no utilizarlo y es quien paga por ello. Organizacionalmente se habla de cliente interno para referirse a los trabajadores, aquellos que intervienen en el desarrollo del producto, y el cliente externo es aquel que recibe y usa el producto 
                p En todo proceso de control de calidad se habla de los requisitos, que no son más que la traducción de las necesidades y expectativas del cliente, se consideran tres niveles:
        .row.justify-content-center.mt-5
            .col-3.mt-5.borde-lila
                img.img-top2(src="assets/images/pages/ilustraciones/img5.svg", alt="").img-fluid
                p.mt-3 El principal objetivo del producto es ser funcional, resolver un problema, estar oportunamente, respetar el precio acordado y tener un tiempo de vida útil considerable; si estas características no se cumplen el producto genera insatisfacción.
            .col-3.mt-5.borde-azul
                img.img-top2(src="assets/images/pages/ilustraciones/img6.svg", alt="").img-fluid
                p.mt-3 El cliente espera un trato cordial y amable de forma que se sienta importante y genere satisfacción.              
            .col-3.mt-5.borde-verde 
                img.img-top2(src="assets/images/pages/ilustraciones/img7.svg", alt="").img-fluid
                p.mt-3 Todo cliente espera que el producto supere lo esperado inicialmente, lo cual se logra con la asistencia técnica, descuentos y optimización de los tiempos de entrega, esto incrementa el grado de satisfacción inicial.
        .jumbotron.fondo-azul
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p También existen requisitos relacionados con:  
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Función del producto en referencia a su desempeño, responde a la pregunta ¿para qué sirve?
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Características técnicas: cantidades, peso, tamaño, color, entre otras.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Condiciones de pago y precio.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Plazos de entrega.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Especificaciones dadas por el cliente.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Mantenimientos y vida útil como instrucciones de uso y términos de garantía.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Legales entre las cuales están: leyes y normas, rotulados, materiales, uso, manejo de residuos.
        p.mt-5.ml-5 Conforme a lo mencionado anteriormente también se pueden clasificar los requisitos de acuerdo con las características directas del producto, de la organización o de externos, como es el cliente y la normatividad. 
        p.ml-5 Dado que en el proceso productivo se presentan variaciones en los productos es preciso permitir tolerancias, las cuales son márgenes permisibles de variación en el producto final que no requieren rechazo.
        h3.mt-5.ml-5 1.1.3.	Antecedentes y evolución de control de calidad.
        .jumbotron.fondo-rosa
            h1.text-center LÍNEA DE TIEMPO
        img.img-top3(src="assets/images/pages/ilustraciones/img8.svg", alt="").img-fluid
        .row.justify-content-center.align-items-center.mt-5
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img9.jpg", alt="").img-fluid
            .col-4
                ul
                    li A partir de la década de 1910.
                    li Especialización del trabajo.
                    li Inspecciones de producto terminado.
        .row.justify-content-center.align-items-center.mt-5                    
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img10.jpg", alt="").img-fluid
            .col-4
                h3  Control de calidad
                ul
                    li A partir de segunda guerra mundial, años 40´s.
                    li Estudios de métodos y tiempos para mejorar eficiencia.
                    li Procesos más especializados.
                    li Desarrollo de estándares. 
                    li Uso de métodos de medición.
                    li Muestreos, gráficos, sistema de información, manuales, instructivos, formatos.
        .row.justify-content-center.align-items-center.mt-5                    
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img11.png", alt="").img-fluid
            .col-4
                h3  Aseguramiento de la calidad
                ul
                    li A partir de los años 60.
                    li Garantía de calidad.
                    li Cumplir con estándares.
                    li Reducir defectos.
                    li Creación de sistemas de calidad.
                    li Auditorías internas y externas.
        .row.justify-content-center.align-items-center.mt-5                    
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img12.jpg", alt="").img-fluid
            .col-4
                h3  Gestión de calidad
                ul
                    li A partir de los años 80.
                    li Participación de la dirección de la empresa.
                    li Mejora continua.
                    li Satisfacción del cliente.
        .row.justify-content-center.align-items-center.mt-5                    
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img13.jpg", alt="").img-fluid
            .col-4
                h3  Calidad total
                ul
                    li Círculos de calidad: trabajo en equipo.
                    li Desarrollo de personal: capacitación y entrenamiento.
                    li Se involucran todas las áreas y todas las personas de la empresa.

        .row.justify-content-center.align-items-center.mt-5                    
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img14.jpg", alt="").img-fluid
            .col-4
                h3  Excelencia de la calidad
                ul
                    li Suma de teorías y prácticas de calidad.
                    li Liderazgo en el mercado.
                    li Involucran todos los procesos. 
                    li Mejora continua. 
        img.img-a(src="assets/images/pages/ilustraciones/img15.svg", alt="").img-fluid  
        h3.mt-5.ml-5 1.1.4.	Control de calidad en industrial textil y confección.
        p.mt-5.ml-5 En la industria textil y de confección se controla la calidad con el fin de mantener y corregir los defectos, errores o no conformidades que se presentan durante la producción de la prenda. Por tanto, se desarrolla según las variables y atributos del producto.
        img.img-a(src="assets/images/pages/ilustraciones/img16.svg", alt="").img-fluid 
        .row.justify-content-center.align-items-center.mt-5                    
            .col-6
                p De acuerdo con lo mencionado, el control de la calidad en la industria textil se realiza en los procesos y en los recursos que intervienen en la producción de la prenda, desde el diseño, el patronaje, la selección de la materia prima para el caso la tela,  los insumos entre los que se destaca el hilo; en confección las costuras; en el empaque, embalaje y entrega al cliente, asociadas a las características de cada proceso y de cada material.
                p El control de calidad se realiza en las siguientes fases: 
            .col-3 
                img.img-a(src="assets/images/pages/ilustraciones/img17.svg", alt="").img-fluid 
        img(src="assets/images/pages/ilustraciones/img18.svg", alt="").img-fluid 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img19.svg", alt="").img-fluid                                          
        h3.mt-5.ml-5 1.1.5.	Automatización en control de calidad en la industria textil y confección.
        p.mt-5.ml-5 Se denomina calidad 4.0 a la relacionada con la revolución digital, teniendo en cuenta las tecnologías de big data, inteligencia artificial, machine learning, deep learning e internet de las cosas. 
        p.ml-5 La automatización de los procesos proporciona agilidad, más seguridad en los datos porque disminuye la presentación de datos incorrectos y más conocimiento sobre cada área de la empresa. La implementación básica de la automatización se refiere a la utilización de software especializado en las herramientas de calidad, como por ejemplo, programas estadísticos como SPSS, STATGRAPHICS CENTURION, SAS, otros relacionados con el internet de las cosas, como la geolocalización con aplicaciones como los códigos QR, y las relacionadas con las herramientas de lean manufacturing.
        .row.justify-content-center.align-items-center.mt-5                    
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img20.svg", alt="").img-fluid
            .col-6
                p Con la integración de datos y su tratamiento avanzado se pueden simular los procesos para mejorar la gestión de calidad virtual. Además, las personas encargadas directamente con la calidad pueden desarrollar actividades de manera remota sin necesidad de su presencia #[strong in situ] en la empresa. También pueden apoyar en la planificación de auditorías, en el mejoramiento de implementación de la metodología de las 5S.
        .sub-ecored#12.mt-5
            h2 1.2. Gestión de calidad total
        p.mt-5 La Organización Internacional para la Estandarización (ISO), la define como “las actividades coordinadas para dirigir y controlar una organización en aquello relativo a la calidad. La dirección y control, en aquello relativo a la calidad, generalmente incluye el establecimiento de la política de la calidad y los objetivos de la calidad, el aseguramiento de la calidad y la mejora de la calidad” (ISO, 2005a). 
        p Para realizar una gestión de calidad en la empresa se deben tener en cuenta los siguientes enfoques:
        .jumbotron.fondo-azul
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Enfoque al cliente: conocer al cliente requisitos y expectativas.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Enfoque estratégico: establecer los objetivos de calidad como claves en la visión de la empresa. 
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Liderazgo: enfocado en el compromiso positivo de la dirección de la empresa.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Enfoque en procesos: control de procesos.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Orientación a las personas: para aumentar el nivel de compromiso y satisfacción del cliente interno es necesario involucrar al personal y capacitarlo permanentemente.  
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Enfoque científico: evaluación de la calidad con evidencias y datos, es decir método científico. 
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Mejora continua, innovación y aprendizaje: todo proceso es susceptible de mejorar, no es solo corregir sino actuar de forma proactiva.
        p.mt-5 La comunicación interna también debe estar bien organizada, contar con un sistema de comunicación adecuado para evitar duplicidades de información que afecten negativamente la gestión de la calidad.
        p Para reconocer la gestión en los procesos se debe tener en cuenta el ciclo Deming de la calidad: Planear, Hacer, Verificar, Actuar (PHVA) sobre el cual se construyen los sistemas de gestión. En la siguiente figura se puede observar cómo se constituye el ciclo de la calidad para la mejora continua.
        .row
            .col-12.text-center
                img.img-a(src="assets/images/pages/ilustraciones/img21.svg", style="max-width: 60%", alt="").img-fluid
        h3.mt-5.ml-5 1.2.1.	Cultura de calidad.
        p.mt-5.ml-5 Es el conjunto de principios, valores y comportamientos que rigen la forma de actuar de un grupo de personas que hacen parte de la organización, y que trabajan de manera voluntaria para mejorar el funcionamiento de las áreas de trabajo, para que interactúen entre ellas y logren en equipo los objetivos propuestos en relación con la calidad del producto y la satisfacción del cliente. Su implementación requiere de capacitación efectiva y constante, interacción mediante comunicación asertiva y eficaz para seguir construyendo una cultura de calidad sólida. 
        p.ml-5 La metodología sugerida para la implementación de esta cultura dentro de una organización son los círculos de calidad desarrollados por Kauro Ishikawa, quien creía que la calidad empieza con el cliente, y por tanto, comprender sus necesidades es la base para la mejora continua. 
        p.ml-5 En la siguiente figura se aprecian los componentes de los círculos de calidad.
        .row.mt-4
            .col-12.text-center
                img.img-a(src="assets/images/pages/ilustraciones/img22.svg", style="max-width: 60%", alt="").img-fluid
        h3.mt-5.ml-5 1.2.2.	 Metodología de mejoramiento continuo.
        p.mt-5.ml-5  La metodología se encuentra enmarcada dentro del ciclo de mejoramiento continuo (PHVA) el cual, busca que la empresa sea más competitiva haciendo permanente la búsqueda de calidad, la participación es de todo el personal involucrado en la empresa, para que el mejoramiento sea constante. 
        p.ml-5.mt-5 Hablamos del método Kaizen, una estrategia desarrollada en Japón una vez terminada la II guerra mundial y que tiene por objetivo maximizar la producción mediante la mejora continua en los procesos productivos de la empresa, lo que permite reducir las ineficiencias para aumentar la competitividad en el mercado.
        p.ml-5 De acuerdo con el OBS Business School (s.f.) “esta filosofía aboga por la participación de todos y el involucramiento comprometido de cada individuo orientada a una mejora. En otras palabras, si bien la mayoría de los cambios pueden no resultar ser de grandes dimensiones, su impacto sí es susceptible de impulsar repercusiones significativas, en especial cuando se orienta a transformaciones dirigidas por la alta dirección de proyectos y cuando se aplican sus preceptos por parte de equipos multifuncionales”. 
        p.ml-5 Bajo la óptica de Kaizen, todos los empleados son responsables de identificar los vacíos e ineficiencias. Todo el mundo, en todos los niveles en la organización, está habilitado para sugerir mejoras que pueden aplicarse en su área de interés. En la práctica, el método Kaizen funciona de la siguiente forma
        .jumbotron.fondo-azul
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Establecimiento de metas claras y realistas, bien documentadas.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Revisión del estado actual de la situación y desarrollo de un plan de optimización.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Implementación de mejoras.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Revisión y aplicación de las correcciones necesarias.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Elaboración de un informe de resultados y determinación de los elementos de seguimiento.
        p.mt-5 Los elementos del método Kaizen son:
        .row.justify-content-center.align-items-center.mt-5                    
            .col-2        
                .caja-azul1
                    h3.text-center Trabajo en equipo
            .col-2                     
                .caja-azul2
                    h3.text-center  Disciplina personal
            .col-2                     
                .caja-azul1
                    h3.text-center  Moral mejorada
            .col-2                     
                .caja-azul2
                    h3.text-center  Círculos de calidad
            .col-2                       
                .caja-azul1
                    h3.text-center  Sugerencias para la mejoría 
        p.mt-5 Para iniciar su aplicación se debe considerar el análisis del problema, en la siguiente figura se puede observar el análisis de los diferentes aspectos para tener en cuenta:
        img.img-a(src="assets/images/pages/ilustraciones/img23.svg", alt="").img-fluid
        p.mt-5 A continuación, se pueden observar los 13 pasos de la metodología Kaizen.
        img.img-a(src="assets/images/pages/ilustraciones/img24.svg", alt="").img-fluid  
        p.mt-5 Las ventajas de aplicar el método Kaizen no se limitan a un aumento de la productividad sino que se trasladan a otros ámbitos, contribuyendo a lograr:
        .row.justify-content-center.align-items-center.mt-5                    
            .col-2
                img.img-a(src="assets/images/pages/ilustraciones/img25.svg", alt="").img-fluid  
            .col-7   
                p #[strong Disminución de la generación de residuos:] al ganar en eficiencia y utilizar mejor las habilidades de los empleados se minimizan los desechos, todos esos elementos que no producen valor
                p #[strong Aumento de los niveles de satisfacción:] un hecho que tiene un impacto directo en la forma en que se hacen las cosas, iniciando un ciclo de motivación que se mantiene en el tiempo.
                p #[strong Mayor grado de compromiso:] los miembros del equipo presentan un mayor interés en su trabajo y son más proclives a comprometerse con las metas de la organización.
                p #[strong Mejores tasas de retención del talento:] cuando las personas se encuentran satisfechas y motivadas son más propensas a quedarse, ya que no necesitan buscar en otros lugares lo que ya han conseguido y les depara un futuro prometedor.
                p #[strong Incremento de la competitividad:] el aumento de la eficiencia contribuye a lograr costos más bajos y productos de mejor calidad, mejorando el posicionamiento de la empresa en el mercado.
                p #[strong Impulso a los niveles de satisfacción de los consumidores:] que obtienen un mejor servicio y se benefician de productos de mayor calidad y con menos defectos.
                p #[strong Optimización de la resolución de problemas:] al enfocar los procesos desde una perspectiva de búsqueda de soluciones, los propios empleados están capacitados para resolver problemas de forma continua.
                p #[strong Fortalecimiento de los equipos:] al trabajar juntos para resolver problemas, gracias al método Kaizen se fortalecen los vínculos y se construyen equipos mejores y más resistentes, preparados para afrontar cualquier desafío” (OBS Business School, s.f.).
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img26.svg", alt="").img-fluid 
        h3.mt-5.ml-5 1.2.3.	 Six sigma.
        p.mt-5.ml-5 Es un sistema de gestión de calidad, enfocado en la mejora de procesos creada en la década de los años 80 por Bill Smith, la metodología combina herramientas estadísticas para mejorar el nivel de desempeño de un proceso, se centra en la reducción de la variación o dispersión, logrando minimizar o eliminar los defectos y fallos en la entrega de un producto al cliente, su meta es llegar a un máximo de 3,4 defectos por millón de eventos u oportunidades.
        p.ml-5 “Este sistema está enfocado en primer lugar al cliente, por lo cual se requiere contacto estrecho y conocimiento de sus necesidades, en segundo lugar este tipo de proyectos generan importantes retornos sobre la inversión, y en tercer lugar, este sistema cambia el modo de operar por parte de la dirección, dando lugar a un nuevo enfoque sobre la forma de pensar, planificar, y ejecutar las actividades y procesos”. León (2009)
        p.ml-5 El método se basa en la metodología DMAMC, que permite desarrollar mejoras siguiendo estos pasos:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img27.svg", alt="").img-fluid
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img28.svg", alt="").img-fluid
        h3.mt-5.ml-5 1.2.4.	Costos de calidad.
        p.ml-5 Como ya se conoce, la meta general de la empresa es ser rentable y generar ganancias, por eso la relación de la calidad con el precio se debe analizar, concientizando al personal de su importancia. La clasificación de los costos de calidad ayuda a entender y concientizar sobre la importancia de su control en el proceso productivo.
        p.ml-5 En la siguiente figura se puede observar los tipos de costos de calidad:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img29.svg", alt="").img-fluid
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img30.svg", alt="").img-fluid
        .sub-ecored#13.mt-5
            h2 1.3. Sistema de gestión de la calidad: norma ISO 9001:2015
        p.mt-5 El sistema de gestión de la calidad es una herramienta administrativa, cuenta con una estructura organizada para integrar todos los procesos, integrando los elementos necesarios para lograr cumplir las necesidades y expectativas del cliente. 
        p Obtener la certificación es evidenciar la capacidad que tiene la empresa de cumplir con los requisitos, además permite que la organización opere de forma más eficiente, identifique riesgos y los aborde oportunamente, cumpla con los requisitos reglamentarios y llegue a nuevos mercados. Una vez certificada la empresa la vigencia del sello de calidad es de 3 años, durante los cuales se realizan auditorías de seguimiento por parte del ente certificador y una vez pasados los tres años se debe realizar una auditoría para la renovación. La certificación es una constancia de valor a nivel internacional. 
        p El enfoque de la norma está basado en los procesos, en donde la empresa demuestra la gestión y control de cada una de las interacciones entre los procesos y las jerarquías funcionales de la organización. Este sistema busca mejorar la eficiencia y eficacia de los procesos para lograr los objetivos planeados y así aumentar la satisfacción del cliente y de sus requisitos. La norma específica qué debe hacerse, pero no cómo hacerlo, entonces se constituye en una guía para lograr la calidad; para la norma es primordial que la información se encuentre documentada. 
        p Basada en los principios de gestión de calidad, la norma ISO 9001:2015 define el modo en el que una organización funciona para cumplir con los requisitos de sus clientes y accionistas:
        .jumbotron.fondo-azul
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Orientación al cliente.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Liderazgo.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Participación del personal.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Enfoque basado en procesos
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Contexto organizativo.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Mejora continua.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Toma de decisiones basada en hechos.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Razonamiento basado en riesgos
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img31.svg", alt="").img-fluid