.container
    .header-ecored
        h1 2. Ficha técnica y muestra física
    .jumbotron.bg-white.shadow
        img.img-a(src="assets/images/pages/ilustraciones/img32.jpg", alt="").img-fluid
        .caja-verde2
            p Recuerde que para el control de los procesos se utiliza la ficha técnica, una guía fundamental para establecer controles de producción y calidad, la cual se adecúa según el proceso desarrollado y describe la información de la referencia a producir, el modelo, número de piezas, medidas de patrones y prenda, materia prima e insumos, ruta operacional y especificaciones de calidad.
            p A partir de la ficha técnica se desarrolla la muestra física, es decir la demostración física del producto a fabricar, el cual se convierte en la guía del proceso productivo y en el elemento clave de las ventas. 
        .sub-ecored#21.mt-5
            h2 2.1.	Concepto y uso de ficha técnica
        p.mt-5 La ficha técnica es la mejor herramienta en la empresa de confección, porque es la guía que contiene todas las especificaciones y requisitos en cada uno de los procesos para así poder desarrollar la producción de determinada referencia o modelo.
        p Este instrumento toma importancia en el proceso de confección ya que permite estandarizar el producto, controlar la calidad y la producción, establecer una adecuada organización de líneas de producción y proporciona la información para la gestión de compras de materiales, aspectos fundamentales para el logro de la calidad de los productos terminados. 
        p La ficha técnica se usa conforme el proceso que se está desarrollando, los inspectores de calidad, los supervisores, los jefes de calidad, producción y compras requieren de la información contenida en este formato, para que comunique de manera concreta, clara y precisa los requisitos de la prenda con el fin de prevenir los defectos, y también el flujo operacional óptimo obteniendo la productividad proyectada.
        .sub-ecored#22.mt-5
            h2 2.2.	Partes de ficha técnica
        .jumbotron.fondo-azul
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Vale mencionar nuevamente que las partes de una ficha técnica son: 
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Rótulo o encabezado de la ficha técnica: describe la información de la empresa.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Cuerpo de la ficha: contiene la mayor información, especificando según el proceso las características de la prenda.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Tablas y dibujos: con el fin de ser un apoyo visual, teniendo en cuenta que la ficha técnica es una aplicación de la técnica de Poka -Yoke. Con la utilización de tablas y dibujos es más fácil describir medidas, hoja de ruta, modelo, planos y piezas.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Control del documento: identifica a los responsables en el proceso de elaboración de la ficha técnica.
            .list.ml-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Glosario: lista los términos y expresiones utilizadas en el documento, de forma que permita su total comprensión. 
        img.img-a(src="assets/images/pages/ilustraciones/img33.jpg", alt="").img-fluid
        p.mt-5 Tenga en cuenta que el orden de la ficha debe estar conformado según el orden de los procesos de confección, es decir ficha de diseño, patronaje, producción y calidad; así mismo es necesario anexar fotografías para apoyar el proceso de control de calidad y el glosario de términos con el fin de convenir y aclarar los términos técnicos que pueden variar, por ejemplo, en diferentes zonas del país.
        .sub-ecored#23.mt-5
            h2 2.3.	Manejo e interpretación ficha técnica
        p.mt-5 Una vez se crea el formato el diligenciamiento de este es realizado por el personal encargado del área de diseño y desarrollo de producto.
        p El inspector de calidad es quien maneja la ficha técnica del producto, debe entender las medidas de los patrones y cuando la prenda está terminada hacer las inspecciones tanto en el desarrollo del proceso como en la prenda terminada.  
        p En el proceso de confección la hoja de ruta es primordial, ya que permite interpretar el paso a paso de cada operación, para realizar las inspecciones del producto terminado y del producto en proceso.
        .sub-ecored#24.mt-5
            h2 2.4.	Definición y características de la muestra física 
        p.mt-5 La muestra física es la demostración tangible del producto a fabricar, expone de manera real lo que es el producto para fabricar o vender y debe ser fiel a la ficha técnica y viceversa. La muestra física hace parte del paquete técnico, que junto con el patronaje de la prenda aseguran el desarrollo óptimo del proceso, además la muestra de la referencia a producir debe mostrar los requisitos de calidad,  para que así mismo sea la guía en los diferentes procesos de confección.
        p Respecto a lo anterior la muestra debe estar disponible tanto al cliente por parte del vendedor quien la da a conocer, y en la planta de producción en el módulo donde se confeccionará para analizar y comparar las diferentes operaciones que la componen. 
        p Es importante tener en cuenta que la muestra física junto con la ficha técnica es necesaria para la gestión de la producción y del control de la calidad.