.container
    .header-ecored
        h1 Introducción
    img.img-a(src="assets/images/pages/ilustraciones/img1.jpg", alt="").img-fluid
    .caja-verde.shadow
        p Garantizar la calidad de un producto actualmente se ha convertido en un factor competitivo, el cual permite posicionamiento en el mercado y reconocimiento de la marca por parte del consumidor, es por ello que las empresas deben asegurar que su producción, en este caso textil, cumpla con los requisitos de diseño técnico y de la normativa aplicable al sector. 
        p El control de procesos se aplica en todo tipo de industria, incluida la de la manufactura, en la cual se aplican sistemas de control que permiten documentar y hacer seguimiento a todo el proceso productivo, esto incluye  “procedimientos documentados para todos los procesos clave; entendimiento claro del equipo y ambiente de trabajo adecuados para vigilar y controlar las características críticas de la calidad; procesos de aprobación para el equipo; criterios para la realización del trabajo como normas escritas, muestras o ilustraciones, y actividades de mantenimiento” (Evans & Lindsay, 2005).
        p En este sentido, identificar los requisitos de calidad exigidos de acuerdo con las especificaciones de la ficha técnica, lleva al área de producción a planificar el proceso de confección de acuerdo con la línea de producción y las especificaciones del producto, permitiendo así que el producto final se convierta en un producto de calidad que satisface por completo las necesidades del cliente y del mercado.