.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

                tr
                    td CANALCTA (2018), Qué es el Kaizen en 120 segundos
                    td Video
                    td 
                        a(href="https://youtu.be/ngawT3lFl08", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Evaristo Gutiérrez, (2017), Calidad: instrumento capaz de garantizar el éxito de la gestión a largo plazo evolución del significado de calidad.
                    td PDF
                    td 
                        a(href="media/documentos/Calidad_instrumento_capaz_garanitzar_exito.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span>Descargar
                tr
                    td ISO (2015) Sistema de Gestión de Calidad 9001:2015
                    td PDF 
                    td 
                        a(href="media/documentos/Norma_ISO_9001_2015.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span>Descargar
                tr
                    td León Lefcovich, M. (2009). Estrategia Kaizen. El Cid Editor | apuntes. 
                    td eLibro Biblioteca Sena
                    td 
                        a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/28799", target="_blank") <span class="fa fa-download" aria-hidden="true"></span>Ver
                tr
                    td SENA (1990) Control de calidad en hilos y telas. 
                    td Repositorio Institucional SENA
                    td 
                        a(href="https://repositorio.sena.edu.co/handle/11404/4252", target="_blank") <span class="fa fa-download" aria-hidden="true"></span>Ver
                tr
                    td SENA (2020) Documentación de calidad. 
                    td Archivo Word
                    td 
                        a(href="media/documentos/DOCUMENTACION_DE_CALIDAD.docx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span>Descargar
                tr
                    td Socconini, L. V. y Reato, C. (2019). Lean Six Sigma: sistema de gestión para liderar empresas. Marge Books. 
                    td eLibro Biblioteca Sena
                    td 
                        a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/117568", target="_blank") <span class="fa fa-download" aria-hidden="true"></span>Ver